body {
  background: #223;
}

#dialog-signin,
#dialog-login {
  width: 30%;
}

#nav-container {
  display: flex;
  justify-content: end;
}

main {
  color: azure;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titulo-index {
  font-size: 100px;
  max-width: 50%;
}

#titulo-venta {
  text-align: center;
  color: azure;
  font-size: 80px;
  margin-top: 5%;
}

/* GALLERY STOCK.HTML */
.gallery-container {
  display: grid;
  grid-gap: 40px 10px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  padding: 40px 0;
}

.gallery-container img {
  width: 350px;
  height: 350px;
  padding: 15px;
}

#div-article {
  background: #fff;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  margin: auto;
  border-radius: 2%;
}

/* SELL */

#form-sell {
  width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
}