body {
  background: #223;
}
/* INDEX */
#dialog-signin,
#dialog-login {
  width: 30%;
}

#nav-container {
  display: flex;
  justify-content: end;
}

main {
  color: azure;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titulo-index {
  font-size: 100px;
  max-width: 50%;
}

/* GALLERY STOCK.HTML */
#titulo-venta {
  text-align: center;
  color: azure;
  font-size: 80px;
  margin-top: 2%;
}
.gallery-container, .gallery-own-container {
  display: grid;
  grid-gap: 40px 10px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  padding: 40px 0;
}

#img-article {
  width: 350px;
  height: 350px;
  padding: 15px;
}

#div-article {
  background: #fff;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  margin: auto;
  border-radius: 2%;
}

/* SELL */
#img-selected {
  border-radius: 2%;
  max-width: 200px;
  max-height: 200px;
}